<a href="https://colab.research.google.com/github/Mariette-beep/WTM-GDG-Bambili-100-Days-of-code-Datascience/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=['Hello', 3.5, 4.7, 3.7, 12, 1.1, 2.2, 1001, 200, 11, 'yes','world','hi','lists', 202]

In [ ]:
 var1= 'bar' +  ' wine'

In [ ]:
list1.append(var1)

In [ ]:
print(list1)

['Hello', 3.5, 4.7, 3.7, 12, 1.1, 2.2, 1001, 200, 11, 'yes', 'world', 'hi', 'lists', 202, 'bar wine']

In [ ]:
list4=['bye', 'people', 'party', 'sell', 5, 1.9, -2.3, -4.09, 10, 16, 26, 15, -1.18, 4.07,]

In [ ]:
list5= list1 + list4

In [ ]:
print(list5)

['Hello', 3.5, 4.7, 3.7, 12, 1.1, 2.2, 1001, 200, 11, 'yes', 'world', 'hi', 'lists', 202, 'bar wine', 'bye', 'people', 'party', 'sell', 5, 1.9, -2.3, -4.09, 10, 16, 26, 15, -1.18, 4.07]

In [15]:
list2=[5, 6, 7.0, 'Eight', 'Nine']

In [17]:
list3=[type(entry) for entry in list2]
print(list3)

[<class 'int'>, <class 'int'>, <class 'float'>, <class 'str'>, <class 'str'>]